<!doctype html>
<title>holiPy</title>
<link rel=stylesheet type=text/css href='static/style_holiPy.css'>
<link rel="icon" href="static/holiPy_logo.png">
<div class=page>
    <h1>A gift exchange web app</h1>
    <div class=metanav>
        <h2>Instructions</h3>
        <p>This web app generates random pairings for a secret santa style gift exchange. To use it, first make a spreadsheet (saved as a .csv file). Include a row for each person in the exchange, and use the following column headings:<br />
            <li>giver</li>
            <li>couple</li>
            <li>email (optional)</li><br />
            As you could probably guess, 'giver' contains the names of each person in the gift exchange and 'email' contains their email address. If email addresses are provided, the app will notify each person of their assignment. The 'couple' column is there to allow restrictions on who can be assigned to whom. For example, you might prefer that spouses are not assigned to each other. To identify pairings, use numbers and give couples the same number. An example spreadsheet might look like this:
        </p>
        <table>
            <tr>
                <th>giver</th>
                <th>couple</th>
                <th>email</th>
            </tr>
            <tr>
                <td>Eddard Stark</td>
                <td>1</td>
                <td>warden@north.gov</td>
            </tr>
            <tr>
                <td>Catelyn Stark</td>
                <td>1</td>
                <td>homesick@north.gov</td>
            </tr>
            <tr>
                <td>Daenerys Targaryen</td>
                <td>2</td>
                <td>blood.of.dragons@deposed.net</td>
            </tr>
            <tr>
                <td>Cersei Lannister</td>
                <td>3</td>
                <td>queen@westeros.gov</td>
            </tr>
            <tr>
                <td>Jaime Lannister</td>
                <td>3</td>
                <td>kingsguard4@westeros.gov</td>
            </tr>
            <tr>
                <td>Petyr Baelish</td>
                <td>4</td>
                <td>totallynotathreat@sneaky.net</td>
            </tr>
            <tr>
                <td>Stannis</td>
                <td>5</td>
                <td>fewer@dragonstone.gov</td>
            </tr>
        </table>
        <p>So Eddard and Catelyn Stark will never be assigned to each other since they are spouses, and neither will Cersei and Jaime Lannister since they are siblings (plus). Aside from that restriction, the pairings are completely random - this leaves the possibility of being assigned the same person in consecutive years.
        </p>
    </div>
    <div class=metanav>
        <h2>Make assignments</h3>
        <p>To make your assignments, upload your .csv file below. If you do not opt to automatically send the emails, you will see the assignments after you click 'Submit'. Otherwise, the emails will be sent and you will only see a confirmation screen.
        </p>
        <p>If you choose to send emails, <b>please double check all email addresses</b>. You will not receive any error messages or notification if any emails bounce back. If you are worried that that may have happened, send me an <a href="mailto: tim.szewczyk@gmail.com">email</a> and I will check.
        </p>
        <form id="userinfoform" enctype="multipart/form-data" method="post" action="/">
            <div>
                <input id="fileupload" name="user_csv" type="file" />
            </div>
            <div style="padding-top: 0.75em">
                <label for="email-opt">Send automatic emails?</label>
                <input type="radio" name="email-opt" value="Yes"/>Yes
                <input type="radio" name="email-opt" value="No" checked="checked"/>No
			</div>
			<div>
                <input type="text" name="og-name" placeholder="Your name" size=25>
                <input type="text" name="og-email" placeholder="Your email address" size=30>
            </div>
			<div>
				<input type="text" name="sbjct" placeholder="Email subject" size=40>
				$<input type="text" name="gift_lim" placeholder="Gift limit" size=14>
			</div>
            <div style="padding-top: 0.75em">
                <button type="submit">Submit</button> (only click once!)
            </div>
        </form>
    </div>
</div>