<!doctype html>
<title>holiPy</title>
<link rel=stylesheet type=text/css href='static/style_holiPy.css'>
<div class=page>
    <h1>A gift exchange web app</h1>
    <div class=metanav>
        <h2>Instructions</h3>
        <p>This web app generates random pairings for a secret santa style gift exchange. To use it, first make a spreadsheet (saved as a .csv file). Include a row for each person in the exchange, and use the following column headings:<br />
            <li>giver</li>
            <li>couple</li>
            <li>email (optional)</li><br />
            As you could probably guess, 'giver' contains the names of each person in the gift exchange and 'email' contains their email address. If email addresses are provided, the app will notify each person of their assignment. The 'couple' column is there to allow restrictions on who can be assigned to whom. For example, you might prefer that spouses are not assigned to each other. To identify pairings, use numbers and give couples the same number. An example spreadsheet might look like this:
        </p>
        <table>
            <tr>
                <th>giver</th>
                <th>couple</th>
                <th>email</th>
            </tr>
            <tr>
                <td>Fitz</td>
                <td>1</td>
                <td>t.badgerlock@anon.net</td>
            </tr>
            <tr>
                <td>The Fool</td>
                <td>1</td>
                <td>beloved@whiteprophets.gov</td>
            </tr>
            <tr>
                <td>Nettle</td>
                <td>2</td>
                <td>nettle@farseer.net</td>
            </tr>
            <tr>
                <td>Kettricken</td>
                <td>3</td>
                <td>server@farseer.net</td>
            </tr>
            <tr>
                <td>Dutiful</td>
                <td>4</td>
                <td>king@farseer.net</td>
            </tr>
            <tr>
                <td>Ellania</td>
                <td>4</td>
                <td>queen@farseer.net</td>
            </tr>
            <tr>
                <td>Chade</td>
                <td>5</td>
                <td>thyme@anon.net</td>
            </tr>
        </table>
        <p>So Fitz and the Fool will never be assigned to each other, and neither will Dutiful and Ellania. Aside from that restriction, the pairings are completely random - this leaves the possibility of being assigned the same person in consecutive years.
        </p>
    </div>
    <div class=metanav>
        <h2>Make assignments</h3>
        <p>To make your assignments, upload your .csv file below. If you do not opt to automatically send the emails, you will see the assignments after you click 'Submit'. Otherwise, the emails will be sent and you will only see a confirmation screen.
        </p>
        <p>If you choose to send emails, <b>please double check all email addresses</b>. You will not receive any error messages or notification if any emails bounce back. If you are worried that that may have happened, send me an <a href="mailto: tim.szewczyk@gmail.com">email</a> and I will check.
        </p>
        <form id="userinfoform" enctype="multipart/form-data" method="post" action="index">
            <div>
                <input id="fileupload" name="user_csv" type="file" />
            </div>
            <div style="padding-top: 0.75em">
                <label for="email-opt">Send automatic emails?</label>
                <input type="radio" name="email-opt" value="Yes"/>Yes
                <input type="radio" name="email-opt" value="No" checked="checked"/>No
                <input type="text" name="og-name" placeholder="Your name">
                <input type="text" name="og-email" placeholder="Your email address">
            </div>
            <div style="padding-top: 0.75em">
                <!-- This needs to perform a different action depending on the
                     checkbox. If not checked, run the randomizer and then 
                     redirect to a page with the assignments. If checked,
                     run the randomizer, send emails, and show a confirmation
                     page that the emails have been successfully sent. -->
                <button type="submit">Submit</button> (only click once!)
            </div>
        </form>
    </div>
</div>